
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.field{
  position: relative;
  max-width: 2300px;
  height: 100vh;
  margin: 0 auto;
  padding: 50px;
  background-image: url(img/fon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.title{
  margin: 220px auto;
  width: max-content;
  font-size: 150px;
  text-align: center;
    /* делаем цветные полосы по тексту */
  background: linear-gradient(315deg, #f9c722 0%, #62451a 74%);
  /* обрезаем фон по контуру букв */
  -webkit-background-clip: text;
  /* делаем заголовок прозрачным, чтобы был виден цветной фон */
  color: transparent;
}

.form{
  position: absolute;
  top: 40%;
  left: 29%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width:750px;
  height: 300px;
  background: linear-gradient(315deg, #f9c722 0%, #62451a 74%);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100px;
}

#closed{
  display: none;
}

.text{
  font-size: 17px;
}
.input{
  width: 20%;
  height: 20%;
  margin-bottom: 30px;
  font-size: 30px;
  text-align: center;
  color: rgb(81, 47, 5);
  background-image: linear-gradient(315deg,  #62451a 0%, #f9c722 74%);
  border: 2px solid #62451a;
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
}



.button{
  width: 50%;
  height: 20%;
  font-size: 40px;
  text-align: center;
  color: rgb(81, 47, 5);
  background-image: linear-gradient(315deg,  #62451a 0%, #f9c722 74%);
  border: 2px solid #62451a;
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
}



.gameAgein {
  position: absolute;
  top: 35%;
  left: 40%;
  width: 20%;
  height: 20%;
  font-size: 40px;
  text-align: center;
  color: rgb(81, 47, 5);;
  background:linear-gradient(315deg,  #62451a 0%, #f9c722 74%);
  border: 2px solid #62451a;
  border-radius: 100%;
}

.input:focus,
.button:focus,
.gameAgein:focus{
  background-image: linear-gradient(315deg, #f9c722 0%, #62451a 74%);
  border: 5px solid #f9c722;
  outline: 2px solid #62451a ;
}


.input:hover,
.button:hover,
.gameAgein:hover{
  background-image: linear-gradient(315deg, #f9c722 0%, #62451a 74%);
  border: 5px solid #f9c722;
}

.input:active,
.button:active,
.gameAgein:active{
  background-image: linear-gradient(315deg, #f9c722 0%, #62451a 74%);
  border: 5px solid #f9c722;
  outline: 7px solid #62451a ;
}

.time {
  position: absolute;
  padding: 10px;
  right: 40px;
  top: 25%;
  width: 160px;
  height: 120px;
  font-size: 75px;
  text-align: center;
  color: rgb(81, 47, 5);
  background-image: linear-gradient(315deg,  #62451a 0%, #f9c722 74%);
  border: 2px solid #62451a;
  border-radius: 90%;
}
table{
  height: 100vh;
 margin: 0 auto;
}

td{
  background-image: none;
}
.card{
  margin: 20px;
  width: 200px;
  height: 200px;
  background-image: url(img/rubashka.jpg);
  background-repeat: no-repeat;
  background-size: 200px 200px;
  background-position: center;
  transition:background-image .3s ;
}

.field-small{
  max-width: 2600px;
  height: 1800px;

}
.table-small{
margin: 0 auto;
}
.card-small{
  margin: 10px;
  padding: 10px;
  width: 150px;
  height: 150px;
}
#\31 {
  background-image: url(img/img1.jpg);
}

#\32 {
  background-image: url(img/img2.jpg);
}
#\33 {
  background-image: url(img/img3.jpg);
}
#\34 {
  background-image: url(img/img4.jpg);
}
#\35 {
  background-image: url(img/img5.jpg);
}
#\36 {
  background-image: url(img/img6.jpg);
}
#\37 {
  background-image: url(img/img7.jpg);
}
#\38 {
  background-image: url(img/img8.jpg);
}
#\39 {
  background-image: url(img/img9.jpg);
}
#\31 0 {
  background-image: url(img/img10.jpg);
}
#\31 1 {
  background-image: url(img/img11-1.jpg);
}
#\31 2 {
  background-image: url(img/img12.jpg);
}
#\31 3 {
  background-image: url(img/img13.jpg);
}
#\31 4 {
  background-image: url(img/img14.jpg);
}
#\31 5 {
  background-image: url(img/img15.jpg);
}
#\31 6 {
  background-image: url(img/img16.jpg);
}
#\31 7 {
  background-image: url(img/img17.jpg);
}
#\31 8 {
  background-image: url(img/img18.jpg);
}
#\31 9 {
  background-image: url(img/img19.jpg);
}
#\32 0 {
  background-image: url(img/img20.jpg);
}
#\32 1 {
  background-image: url(img/img21.jpg);
}
#\32 2 {
  background-image: url(img/img22.jpg);
}
#\32 3 {
  background-image: url(img/img23.jpg);
}
#\32 4 {
  background-image: url(img/img24-1.jpg);
}
#\32 5 {
  background-image: url(img/img25-1.jpg);
}
#\32 6 {
  background-image: url(img/img26-1.jpg);
}
#\32 7 {
  background-image: url(img/img27-1.jpg);
}
#\32 8 {
  background-image: url(img/img28-1.jpg);
}
#\32 9 {
  background-image: url(img/img29-1.jpg);
}
#\33 0 {
  background-image: url(img/img30-1.jpg);
}
#\33 1 {
  background-image: url(img/img31-1.jpg);
}
#\33 2 {
  background-image: url(img/img32-1.jpg);
}
#\33 3 {
  background-image: url(img/img33-1.jpg);
}
#\33 4 {
  background-image: url(img/img34-1.jpg);
}
#\33 5 {
  background-image: url(img/img35-1.jpg);
}
#\33 6 {
  background-image: url(img/img36-1.jpg);
}
#\33 7 {
  background-image: url(img/img37-1.jpg);
}
#\33 8 {
  background-image: url(img/img38.jpg);
}
#\33 9 {
  background-image: url(img/img39.jpg);
}
#\34 0 {
  background-image: url(img/img40.jpg);
}
#\34 1 {
  background-image: url(img/img41.jpg);
}
#\34 2 {
  background-image: url(img/img42.jpg);
}
#\34 3 {
  background-image: url(img/img43.jpg);
}
#\34 4 {
  background-image: url(img/img44.jpg);
}
#\34 5 {
  background-image: url(img/img45.jpg);
}
#\34 6 {
  background-image: url(img/img46.jpg);
}
#\34 7 {
  background-image: url(img/img47.jpg);
}
#\34 8 {
  background-image: url(img/img48.jpg);
}
#\34 9 {
  background-image: url(img/img49.jpg);
}
#\35 0 {
  background-image: url(img/img50.jpg);
}
